<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>harcama takip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>yeni harcama ekle</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Harcama Adı" labelPlacement="floating" placeholder="Örn: Market alışverişi" [(ngModel)]="expenseName"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-input type="number" label="Tutar (TL)" labelPlacement="floating" placeholder="Örn: 150" [(ngModel)]="expenseAmount"></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Kategori" labelPlacement="floating" placeholder="Seçiniz" [(ngModel)]="expenseCategory">
          <ion-select-option value="Market">Market</ion-select-option>
          <ion-select-option value="Ulaşım">Ulaşım</ion-select-option>
          <ion-select-option value="Fatura">Fatura</ion-select-option>
          <ion-select-option value="Eğlence">Eğlence</ion-select-option>
          <ion-select-option value="Diğer">Diğer</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" color="success" (click)="addExpense()">Harcama Ekle</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-content class="ion-text-center">
      <h2>Toplam Harcama</h2>
      <ion-text color="danger">
        <h1>{{ totalExpense }} TL</h1>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <h2 class="ion-padding-start" *ngIf="expenses.length > 0">Geçmiş Harcamalar</h2>
  
  <ion-list>
    <ion-item-sliding *ngFor="let expense of expenses; let i = index">
      <ion-item>
        <ion-label>
          <h2>{{ expense.name }}</h2>
          <p>{{ expense.date }}</p> 
        </ion-label>
        
        <ion-badge [color]="getCategoryColor(expense.category)" slot="start">
          {{ expense.category }}
        </ion-badge>
        
        <ion-text slot="end" color="danger">
          <b>{{ expense.amount }} TL</b>
        </ion-text>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmDelete(i)">Sil</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <ion-toast 
    [isOpen]="isToastOpen"
    [message]="toastMessage" 
    [duration]="2500"
    (didDismiss)="setToastOpen(false)">
  </ion-toast>


  <ion-alert
    [isOpen]="isAlertOpen"
    header="Emin misiniz?"
    message="Bu harcamayı silmek istediğinize emin misiniz?"
    [buttons]="alertButtons"
    (didDismiss)="setAlertOpen(false)">
  </ion-alert>

</ion-content>